<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/assets/logo2.jpeg"/>
    <script src="/js/admin.js" defer></script>
</head>
<body>
    
    <h1>Painel Administrativo</h1>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Presente</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody id="tabelaPresentes">

        </tbody>

    </table>

    <script src="/js/admin.js"></script>

</body>
</html>