<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casamento</title>
    <link rel="icon" href="/assets/logo2.jpeg" />
    <link rel="stylesheet" href="/css/lista.css" />
    <script src="/js/lista.js" defer></script>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <img src="/assets/logo2.jpeg" alt="Logo" />
        </div>
        <button class="hamburger" id="hamburgerBtn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="nav-menu" id="navMenu">
          <li><a href="/">Home</a></li>
          <li><a href="/lista">Lista de presentes</a></li>
          <li><a href="/meus-presentes">Meus presentes</a></li>
          <li><a href="/mural">Mural</a></li>
        </ul>
      </div>
    </nav>

    <main class="conteudo">
      <div class="conteudo-inner">
        <h1>Lista de Presentes</h1>
        <p>
          Agradecemos por fazer parte do nosso grande dia! Para facilitar a
          escolha do presente, criamos uma lista com sugestões que adoraremos
          receber. Sinta-se à vontade para escolher o que mais gostar. O
          importante é celebrar conosco e compartilhar esse momento tão
          especial!
        </p>
      </div>
    </main>

    <section class="presentes">
      <div class="lista-presentes" id="listaPresentes"></div>
    </section>

    <footer>
      <div class="footer-container">
        <div class="footer-col">
          <img src="/assets/logo2.jpeg" alt="Logo" />
          <h2>A & F</h2>
        </div>

        <div class="footer-col">
          <h3>Obrigado</h3>
          <p>
            Agradecemos por fazer parte da nossa história e compartilhar esse
            momento tão especial.
          </p>
        </div>
      </div>

      <div class="footer-copy">© 2026 • Raphael Chrystian</div>
    </footer>
  </body>
</html>
