<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="/assets/logo2.jpeg" />
    <link rel="stylesheet" href="/css/meus-presentes.css" />
    <script src="/js/meus-presentes.js" defer></script>
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="/assets/logo2.jpeg" alt="Logo" />
            </div>
            <button class="hamburger" id="hamburgerBtn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu" id="navMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/lista">Lista de presentes</a></li>
                <li><a href="/meus-presentes">Meus presentes</a></li>
                <li><a href="/mural">Mural</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-meus-presentes">
        <h1>🎁 Meus Presentes</h1>

        <div class="busca-presente">
            <input type="text" id="telefone" placeholder="Digite seu telefone" />

            <button id="btnBuscar">
                Buscar
            </button>
        </div>

        <div id="resultado"></div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-col">
                <img src="/assets/logo2.jpeg" alt="Logo" />
                <h2>A & F</h2>
            </div>

            <div class="footer-col">
                <h3>Obrigado</h3>
                <p>
                    Agradecemos por fazer parte da nossa história e compartilhar esse
                    momento tão especial.
                </p>
            </div>
        </div>

        <div class="footer-copy">© 2026 • Raphael Chrystian</div>
    </footer>
</body>

</html>